.header {
    display: flex;
    flex-direction: column; /* columnas: contenido arriba, nav abajo */
    min-height: 70vh;
    position: relative;
    background:
    radial-gradient(ellipse at top left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 70%),
    url("../assets/header169.jpg");
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat, no-repeat;
    color: white;
}
.header > * {
    flex: 1;
}
.header_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    padding: 2em 6em;
    flex: 1; /* toma todo el espacio entre padding top y nav */

}
.header h1 {
    color: var(--gray100);
    font-weight: bold;
    font-size: 2em;
}
.header span {
    color: var(--secondary);
}
.header_actions {
    display: flex;
}

.header_nav {
  display: flex;
  gap: 1em;
  justify-content: space-between;

}
.header_nav i {
    padding: 0.5em;
}
.header_nav i img {
    width: 80%;
}