
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main > * {
    min-width: 350px;
    padding: 6em 4em
}
/*  hero  */
.main__hero {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    /* debug */
}

.main__hero-header {
    width: 50%;
    min-width: 300px;
}
.main__hero-header h3 {
    color: var(--secondary);
    font-weight: 100;
}
.main__hero-row {
    width: 40%;
    min-width: 350px;
    display: flex;
    /* box-shadow: 5px 5px 5px var(--gray700);
    background-color: var(--gray50); */
    flex-wrap: wrap;
    border-radius: 5px;
}

.main__hero-row::after {
    content: "";
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: var(--gray600);
}
.main__hero-row > * {
    flex: 1;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    
}
.main__hero-row:nth-child(2) {
    flex-direction: row-reverse;
}

.main__hero-img img{
    width: 70%;
    min-width: 250px;
    border-radius: 5px;
}
.main__hero-text {
    flex-direction: column;
    gap: 16px;

}
.main__hero-text,
.main__hero-img {
    flex: 1 1 50%;
}
/* Portfolio */
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.portfolio__header {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.portfolio__content {
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
} 
.portfolio__item {
    flex: 0 0 calc(33.333% - 1rem); 
    min-width: 200px;
    /* flex-grow:0 / flex-shrink:0 / flex-basis:33% */
    box-sizing: border-box;
}
.portfolio__item img {
    width: 100%;
}

/* offers */
.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray50);
    gap: 32px;
    padding: 4em 2em;
}
.offers .offers__header {
    width: 50%;
    min-width: 350px;
}
.offers .offers__content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap
}
.offers .offers__footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    width: 50%;
    min-width: 350px;
}
.offers .offers__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
