.contact {
    width: 100%;
    min-width: 250px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 4em 2em;
    background-color: var(--gray50);
}
.contact h2 {
    color: var(--gray700);
}
.contact form{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    gap: 16px;
}
.contact__form {
    background-image: url("../../assets/backgroundForm.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--gray100);
    box-shadow: 10px 10px 10px var(--gray300);
    padding: 1em 2em;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}
.contact form fieldset {
    border: none;

}
.contact form input {
    min-width: 200px;
    max-width: 300px;
    padding: 0.5em;
    border: none;
    border-bottom: 1px solid var(--gray900);
}
.contact form button{
    border: none;
    padding: 1em 4em;
    max-width: 150px;
    border-radius: 10px;
    color: var(--gray50);
    cursor: pointer;
    transition-duration: .3s;
}
.btn--enable:hover {
    transform: scale(1.1);
    color: var(--gray100);
    background-color: var(--secondaryHover);
}
.contact form fieldset {
    display: flex;
    flex-direction: column;
}
.btn--enabled {
    
    background-color: var(--secondary);
}
.btn--disabled {
    background-color: var(--gray900);
}

