.menu-header {
    width: 100%;
    max-width: 600px;
}

.menu-header ul {
    display: flex;
    overflow: hidden;
}

.menu_item {
    flex: 1;
    display: flex;
    justify-content: center;
    transition: flex 0.3s ease;
}

.menu_item:not(:last-child) {
    /* border-right: 1px solid var(--gray50); */
}

.menu_item:hover {
    /* flex: 1.5; menos exagerado */
}

.menu_button {
    flex: 1;
    max-width: 100%;
    border: 0;
    background: none;
    /* background-color: #1F293780; */
    color: var(--gray300);
    padding: 0.9em 2em; /* más flexible */
    border-radius: 0; /* inherits del ul */
    cursor: pointer;
    transition: background 0.3s ease;
}

.menu_button:hover {
    background-color: rgba(31, 41, 55, 0.9); /* oscuro al pasar mouse */
}